*#
*~
*.drl
*.bak
*.elf
*.hex
*.map
*.o
*.parts
*.pdf
*.ps
*.pyc

# Directories:
busduino
coprocessor
coprocessor1754
eye1
grove8
icsp
jtag_adapter
kdenlive
lcd32
motor30
panda1
panels
power
power2
power_chain
programs
programmer
rb2
robus2rb2
rotary
servo8
servo_bus2
splice2
template
template_double
template_half
template_lpc11xx_qfn33
template_lpc175x
template_lpc176x
template_quad
template_stm32fx_qfp100
video

# Miscellaneous ignores:
connector.txt
h_bridge.txt
index.html
*.mod
*.lib
specifications.html
Makefile
robus.dcm
